body, html {
    height: 100%;
    margin: 0px;    
}
nav li {
    display: inline;
    margin: 20px;
}
nav ul {
    background-color: rgba(7, 7, 7, 0.81);
    overflow: hidden;
}
nav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: lightgrey;
    color: black;
}
article, h1, p {
    font-family: 'Faustina', serif;
    text-align: center;
    color: white;
}
h1 {
    font-size: xx-large;
    font-weight: bolder;

}
p {
    font-size: larger;
    margin: auto;
    padding: 0 45px;
}
body {
    background-color: black;

}
article a {
    color: red;
}